* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .round{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .title{
    font-size: 2.5rem;
  }

  .sutbitle{
    font-size: 3.5rem;
  }

  .button__all{
    width: 350px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(139, 236, 139);
    display: flex;
    align-items: center;
    justify-content: center;
  }



  .un{
    display: block;
    background: green;
    width: 50%;
    height: 100%;
    border-radius: 30px;
    text-align: center;
  }

  .two{
    text-align: center;
    display: block;
    width: 50%;
    height: 100%;
    border-radius: 30px;
    text-align: center;
  }